{% extends 'base.html' %}
{% block title %}Profile - Bank System{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4">
            <h2 class="text-center mb-3">Update Profile</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ u_form.as_p }}
                {{ p_form.as_p }}
                <button type="submit" class="btn btn-primary w-100">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}